



.SearchWrapper {
	margin-top:3%;
	margin-left:10%;
	width:80%;
	height:auto;

}
.titleWrapper{
	margin-top:3%;
	vertical-align:bottom;
	margin-left:5%;
	width:78%

}
#SearchWrapper span {}


#SearchBar {
	display: inline-block;
	vertical-align: top;

}

#SearchBar input {
	height:98%;
	width:100%;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size:24pt;
}

#DateStart {
	display: inline-block;
	vertical-align: top;
	width:15%;
	height: calc(40% - 2px);
	border-style: solid;
	border-width:2px;
	border-color: #646464;
	background-color: #f3f3f3;
}

#DateStart input {
	position:relative;
	left:5%;
	width:calc(94% - 2px);
	background-color: #f3f3f3;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size:12pt;
}

#DateEnd {

	display:inline-block;
	vertical-align: top;
	width:15%;
	height: calc(40% - 2px);
	border-style: solid;
	border-width:2px;
	border-color: #646464;
	background-color: #f3f3f3;
}

#DateEnd input {
	position:relative;
	left:5%;
	width:calc(94% - 2px);
	background-color: #f3f3f3;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size:12pt;
}

#buttonwrapper {
	display:inline-block;
	width:14.5%;
}

#SearchButton {
	height:100%;
	width:100%;
	border-style: solid;
	border-width:2px;
	border-color: black;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	color: #646464;
	background-color: #f3f3f3;
	cursor: pointer;

}

#Filters {
	margin-top:4px;
	border-radius: 0px 0px 0px 20px;
	vertical-align:top;
	background-color: #f3f3f3;
	width:99%;
	height:calc(59% - 8px);
	border-style: solid;
	border-width:2px;
	border-color: #646464;
}

.BoxFilters {
	position: relative;
	top:5%;
	width:13%;
	height:90%;
	margin-left:2.5%;
	display: inline-block;
	vertical-align:top;
}

.TitleBox {
	display:inline-block;
	vertical-align:top;
	position:relative;
	width:30%;
	height:100%;
	color: black;
}

.FilterTitle {
	width: auto;
	position: relative;
	top: calc(50% - 0.6em);
	font-size:12pt;
	font-weight: 500;
}
.searchTitle{
	display:inline-block;
	font-size:21pt;
	width: 66%;
}
.dateTitle{
	display:inline-block;
	font-size:21pt;
	width: 16%;
}

.TextArea {
	position:relative;
	top:4px;
	width:70%;
	height:auto;
	font-size:11pt;
	color: black;
	float:left;
	margin-bottom:2px;

}

.TextArea2 {
	position:relative;
	top:4px;
	width:70%;
	height:auto;
	font-size:8pt;
	color: black;
	float:left;
	margin-bottom:5px;
}

.TextBox input{
	position:relative;
	top:5px;
	vertical-align:top;
	width:0.6rem;
	height:0.6rem;
	float:right;
}


#NumberWrapper{
	position: relative;
	top: calc(40% - 0.4em);
	width:100%;
	height:60%;
}

.NumberText{
	position:relative;
	top: 0.7em;
	color:black;
	font-size:8pt;
	float:left;
	margin-bottom:1.5em;
	width:51%;
	vertical-align:top;
}

#NumberWrapper input {
	width: 7.5em;
	height:1em;
	float:right;
	vertical-align:top;
}

#ResultWrapper {
	margin-bottom:3%;
	margin-left:10%;
	width:80%;
	height:auto;
}

.Result {
	border-style: solid;
	border-width:2px;
	border-color: #646464;
	background-color: #f3f3f3;
	margin-bottom:1%;
	width:100%;
	height:3em;
}

.Picture {
	display: inline-block;
	margin-right:1%;
	margin-top:1%;
	margin-left:1%;
	border-style:solid;
	border-width:1px;
	height:85%;
	width:15%;
	background-color:white;
}

.TextWrapper {
	display: inline-block;
	padding-top:1px;
	padding-bottom:1px;
	width: 100%;
	background-color: #f3f3f3;
}

.BoxWrapper {
	vertical-align:top;
	display: inline-block;
	margin:1%;
	margin-top:2%;
	height:auto;
	width:40%;
}

.Textbox {
	display: inline-block;
	width:10%;
	height:15%;
	margin:1%;
}

#ButtonCar {
	width:10%;
	height:20%;
	display: inline-block;
	margin-top: 50px;
	background-color: #ffb294;
	border-radius: 10%;
	text-align:center;
	text-decoration: none;
	color: inherit;
}

#ButtonCarText {
	margin-top: 5%;
	top:-0.7em;
}
