



#SearchWrapper {
	vertical-align:top;
	margin-top:3%;
	margin-left:5%;
	width:90%;
	height:14em;

}

#SearchWrapper input {
	position:relative;
	left:1%;
	height:calc(90% - 2px);
	width:calc(98% - 2px);
	top:5%;
	background-color: #DCDCDC;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size:24pt;
	background-color: #646464;
}



#SearchBar {
	position:relative;
	top:2px;
	margin-left:2px;
	width:50%;
	height:40%;
	display:inline-block;
	border-style: solid;
	border-width:2px;
	border-color: #FF4600;
	background-color: #646464;

}

#DateStart {
	margin-left:0.6%;
	margin-right:0.6%;
	position:relative;
	left:1.5px;
	display:inline-block;
	width:15%;
	height:40%;
	border-style: solid;
	border-width:2px;
	border-color: #FF4600;
	background-color: #646464;
}

#DateStart input {
	position:relative;
	left:5%;
	height:calc(90% - 2px);
	width:calc(94% - 2px);
	top:5%;
	background-color: #646464;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size:20pt;
}

#DateEnd input {
	position:relative;
	left:5%;
	height:calc(90% - 2px);
	width:calc(94% - 2px);
	top:5%;
	background-color: #646464;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size:20pt;
}

#DateEnd {
	position:relative;
	left:1.5px;
	display:inline-block;
	width:15%;
	height:40%;
	border-style: solid;
	border-width:2px;
	border-color: #FF4600;
	background-color: #646464;
}

#SearchButton {
	margin-top:2px;
	float:right;
	margin-right:1px;
	height:96%;
	width:14.5%;
	border-style: solid;
	border-width:2px;
	border-color: #FF4600;
	text-align: center;
	text-decoration: none;
	color: #DCDCDC;
	background-color: #646464;
}

#SearchButtonText {
	margin-top:50%;
}

#Filters {
	position:relative;
	left:2px;
	background-color: #DCDCDC;
	margin-top:1em;
	width:82%;
	height:47%;
	padding-right:8px;
	border-style: solid;
	border-width:2px;
	border-color: #FF4600;
}

#ResultWrapper {
	margin-top:3%;
	margin-bottom:3%;
	margin-left:10%;
	width:80%;
	height:auto;
}

.Result {
	border-style: solid;
	border-width:2px;
	border-color: #FF4600;
	background-color: #646464;
	margin-bottom:1%;
	width:100%;
	height:10em;
}

.Picture {
	display: inline-block;
	margin-right:1%;
	margin-top:1%;
	margin-left:1%;
	border-style:solid;
	border-width:1px;
	height:85%;
	width:15%;
	background-color:white;
}

.TextWrapper {
	vertical-align:top;
	margin-top:1%;
	display: inline-block;
	width:81%;
	height:85%;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#DCDCDC;
}

.BoxWrapper {
	vertical-align:top;
	display: inline-block;
	margin:1%;
	margin-top:2%;
	height:auto;
	width:40%;
}

.Textbox {
	width:auto;
	height:15%;
	margin:1%;
}

.BoxFilters {
	position: relative;
	top:5%;
	width:30%;
	height:90%;
	margin-left:2.5%;	
	background-color:white;
	float:left;
	vertical-align:top;
}

.TitleBox {
	float: left;
	position:relative;
	width:25%;
	height:100%;
}

.FilterTitle {
	width: auto;
	position: relative;
	top: calc(50% - 0.6em);
	font-size:21pt;
}

.TextBox {
	width:32%;
	height:100%;
	float:left;
}

.FilterText {
	width: 7em;
	height: 1em;
	margin-left:0.2em;
	float: left;
	font-size:11pt;
	margin-bottom:0.5em;
	position:relative; 
	top: 0.7em;
}



#Filters input {
	width:10px;
	height:10px;
	float:right;
}

#ButtonCar {
	width:10%;
	height:70%;
	display: inline-block;
	margin:1%;
	margin-left:2%;
	margin-top:2%;
	border-style:solid;
	border-width:2px;
	text-align:center;
	text-decoration: none;
	color: inherit;
}

#ButtonCarText {
	position:relative;
	top:-0.7em;
	margin-top:50%;
}
