@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700i,900i');
/*
    HOME PAGE/DEFAULT STYLING 
*/
html, body{
    background-color: #DCDCDC;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    padding-left: 50px;
    padding-top: 50px;
}

span{
    color: #FF4600;
    font-style: italic;
    font-weight: 900;
    font-size: 45px;
}

h1{
    font-weight: 400;
    font-size: 25px;
}

.search{
    position: absolute;
    right: 5%;
    top: 8%;
    transform: translate(-5%, -9%);
    background-color: #2F3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search:hover > .search-btn{
    background: white;
}

.search-btn{
    color: #E84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2F3640;
    display: flex;  
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

#sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #151719;
    left: -250px;
}

#sidebar.active{
    left: 0px;
}

#sidebar ul{
    padding: 0;
}

#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 25px 20px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn{
    position: absolute;
    left: 265px;
    top: 0;
    cursor: pointer;
}

#sidebar .toggle-btn .menuline{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0;
}

#slider{
    width: 1280px;
    height: 720px;
    overflow: hidden;
    margin: auto;
    padding-top: 3%;
    border-radius: 2%;
}

#slider .slides{
    display: block;
    width: 10000px;
    height: 400px;
    margin: 0;
    padding: 0;
    border-radius: 2%;
}

.slides img{
    width: 1280px;
    height: 720px;
}

#slider .slide{
    float: left;
    list-style-type: none;
    width: 1280px;
    height: 720px;
}

#footer{
    background-color: #2F3640;
    height: 80px;
    text-align: center;
}

#footer h3{
    color: white;
    padding-top: 30px;;
}

/*
    REPORTING PAGE SPECIFIC
*/
#heading{
    background-color: #2F3640;
    height: 30px;
    text-align: center;
	position: relative;
	top: -19px
}

#heading h3{
    color: white;
}

table#Rented tr:nth-child(even) {
    background-color: #eee;
}

table#Rented tr:nth-child(odd) {
    background-color: #fff;
}

table#Rented th {
    color: white;
    background-color: black;
}

.column1 {
    float: left;
    width: 48%;
    border: solid black 2px;
    margin: 6px;
}

.column2 {
    float: center;
    width: 98%;
    border: solid black 2px;
    overflow-y:scroll;
}

#wrapper { 
    width: 1280px;
    margin:100px auto ;
 }

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*
    CAR SELECTION
*/

h4{
	font-weight: 400;
	font-size: 30px;
}

h5{
	
	font-size: 18px;
}

.container{
    flex: 1 0 auto;
    margin: 0 auto;
    width: 90%;
    padding-left: 40px;
}

#datePU{
    position: relative;
    left: 150px;
    top: -800px;
}

#dateR{
    position: relative;
    left: 400px;
    top: -1075px;
}

.button{
	background-color: #2F3640;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 25px;
	cursor: pointer;

}

.select{
    width: 150px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

ul#features_list li{
	display: inline-flex;
}

#image{
	position: relative;
	left: 800px;
    overflow: hidden;
    margin: auto;
    padding-top: 3%;
    border-radius: 2%;
}

#car_info{
    position: relative;
    left: 1200px;
    top: -300px;
}

#car_features{
	position: relative;
	left: 800px;
	top: -300px;
}

#buttons{
	position: relative;
	left: 200px;
	top: -950px;
}

#total{
	position: relative;
	left: 130px;
	top: -1000px;
	width: 450px;
	height: 30px;
	background-color: #2F3640;
	padding: 1px;
	text-align: center;
	color: white;
}

/*
    SEARCH PAGE
*/

#userProfile{
    margin: 15px 0 0px 0px;
    width: 75%;
    max-width: 1200px;
    border-radius: 0 0 60px 0;
    height: 180px;
    border: 1.5px solid black;
    padding: 20px;
    background-color: #f3f3f3;
  }

  .leftProfile{
    width: 50%;
    float: left;
  }
  .rightProfile{
    width: 50%;
    float: right;
  }