.login{
  color: black;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 230px;
  border-radius: 10px;
  height: 230px;
  border: 1.5px solid black;
  padding: 20px;
  background-color: #f3f3f3;
}

.loginbutton {
  float: none;
}

.loginL{
  width: 49%;
  height: 90%;
  float: left;
  border-right: 1px solid black;
}

.loginR{
  width: 49%;
  height: 90%;
  float: right;
}

.loginLabel{
  margin-top: 10px;
  margin-left: 10px;
}
