<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFB299 Group 4 Car Rental App</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'profileStyle.css' %}">
	{% if session == True and authlevel == 1 %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'adminHeader.css' %}">
	{% else %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'generalHeader.css' %}">
	{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700i,900i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{% static 'adminHeader.css' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>    
    <div class = "header">
		<div>
		<div style="float:right; vertical-align:center; margin-right:3em; margin-top:0.5em;"><b>{{name}}</b></div>
        <button style = "style:inline-block;"class = "signupbtn"><a href="/Logout/"><i class="fas fa-sign-in-alt"></i>    Logout</a></button>
		</div>
        <h1 class = "compname"><span class = "logotitle">C</span>ar <span class = "logotitle">R</span>ental <span class = "logotitle">C</span>ompany</h1>
        <div class = "arrow"></div>
    </div>
		{% if session == True and authlevel == 1 %}
                <div class = "container">
                    <div id = "sidebar">
                        <nav>
                            <ol>
                                <li>
                                    <a href = "../../">
                                        <div class = "icon">
                                            <i class="fas fa-home"></i>
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Home">Home</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/CarPortal/">
                                        <div class = "icon">
                                            <i class="fas fa-car"></i>
                                            <i class="fas fa-car"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Car Information">Car Information</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/ProfilePortal/">
                                        <div class = "icon">
                                            <i class="fas fa-user-circle"></i>
                                            <i class="fas fa-user-circle"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Customer Profile">Customer Profile</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/Reporting/">
                                        <div class = "icon">
                                            <i class="fas fa-file-invoice"></i>
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Reporting">Reporting</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/Search/">
                                        <div class = "icon">
                                            <i class="fas fa-list"></i>
                                            <i class="fas fa-list"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Search Results">Search Results</span></div>
                                    </a>
                                </li>
								<form class = "search" action="/Search/">
									<input id = "SearchField" type = "text" name="SearchField" class = "input" placeholder = "Type Search here">
									<input type = "button" value = "Search" class = "close-btn">
								</form>
                            </ol>
                        </nav>
                    </div>
                </div>
				{% else %}
				    <div class = "container">
					<div id = "sidebar">
						<nav>
							<ol>
								<li>
									<a href = "">
										<div class = "icon">
											<i class="fas fa-home"></i>
											<i class="fas fa-home"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Home">Home</span></div>
									</a>
								</li>
								<li>
									<a href = "/Profile/{{userid}}">
										<div class = "icon">
											<i class="fas fa-user-circle"></i>
											<i class="fas fa-user-circle"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Customer Profile">Customer Profile</span></div>
									</a>
								</li>
								<li>
									<a href = "/Search/">
										<div class = "icon">
											<i class="fas fa-list"></i>
											<i class="fas fa-list"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Search Results">Search Results</span></div>
									</a>
								</li>
								<form class = "search" action="/Search/">
									<input type = "text" name="SearchField" class = "input" placeholder = "Type Search here">
									<input type = "button" value = "Search" class = "close-btn">
								</form>
							</ol>
						</nav>
					</div>
				</div>
				{% endif %}
        <div class ="Body">
        <div id = "userProfile">
          <div class = "leftProfile">
            <ul>
              <li>Full Name: <i>{{Name}}</i></li>
              <li>Birthday: <i>{{Birthday}}</i></li>
              <li>Residential Address: <i>{{Address}}</i> </li>
            </ul>
          </div>
          <div class = "rightProfile">
            <ul>
              <li>Contact Number: <i>{{Number}}</i> </li>
              <li>Rental Total: <i>{{Count}}</i> </li>
              <li>TO BE CONTINUED... </li>
            </ul>
          </div>
        </div>

        <h2>Rental History</h2>


		{% if Count > 0 %}
		{% for vehicle in Vehicles %}
        <div id = "ResultWrapper">
    		<div class = "Result">
			<div class="Picture">
        <img class="Logo" src="..\..\static\images\Brands\{{vehicle.carmake}}.png" alt="Brand">
			</div>
    			<div class="TextWrapper">
    				<div class="BoxWrapper">
					<div class="Textbox">{{vehicle.model}}</div>
					<div class="Textbox">{{vehicle.carmake}}</div>
					<div class="Textbox">{{vehicle.series}}</div>
					<div class="Textbox">{{vehicle.year}}</div>
    				</div>
            <div class="BoxWrapper">
    					<div class="Textbox">Pickup Date</div>
    					<div class="Textbox">Return Date</div>
    					<div class="Textbox">Price</div>
    					<div class="Textbox">Rental Number</div>
    				</div>
    			</div>
    		</div>
    	</div>
		{% endfor %}
		{% else %}
		</br>
		<p>No Vehicles rented</p>
		{% endif %}

      </div>
    </div>
    <footer class = "footer">
        <h3>© Copyright IFB299 Group 4 Car Rental Project 2018 Semester 2</h3>
    </footer>


</body>
</html>
