<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFB299 Group 4 Car Rental App</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'carinfoStyle.css' %}">
	{% if session == True and authlevel == 1 %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'adminHeader.css' %}">
	{% else %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'generalHeader.css' %}">
	{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700i,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{% static 'adminHeader.js' %}"></script>
</head>
<body>
    <div class = "header">
		{% if session == False %}
        <button class = "loginbtn"><a href = ""><i class="fas fa-sign-in-alt"></i>    Login</a></button>
        <button class = "signupbtn"><a href = "/Register/"><i class="fas fa-user-plus"></i> Sign Up</a></button>
		{% else %}
		<div>
		<div style="float:right; vertical-align:center; margin-right:3em; margin-top:0.5em;"><b>{{name}}</b></div>
        <button style = "style:inline-block;"class = "signupbtn"><a href="/Logout/"><i class="fas fa-sign-in-alt"></i>    Logout</a></button>
		</div>
		{% endif %}
        <h1 class = "compname"><span class = "logotitle">C</span>ar <span class = "logotitle">R</span>ental <span class = "logotitle">C</span>ompany</h1>
        <div class = "arrow"></div>
    </div>
    <div class = "login-form">
            <form action="/Login/" method="post">
			{% csrf_token %}
			{{ form.as_p }}
                <div>
                    <label>Email:</label><br>
                    <input class = "loginLabel" type="text" name="email" placeholder = "Enter Email" required>
                </div>
                <div>
                    <label>Password:</label><br>
                    <input class = "loginLabel" type="password" name="password" placeholder = "Enter Password" required>
                </div>
				<input type="hidden" name="action" value="login">
                <div>
                    <button type = "submit" class = "submit">Login</button>
                </div>
                <div>
                    <a href = "">Lost your password?</a>
                </div>
            </form>

        </div>
		{% if session == True and authlevel == 1 %}
                <div class = "container">
                    <div id = "sidebar">
                        <nav>
                            <ol>
                                <li>
                                    <a href = "../../">
                                        <div class = "icon">
                                            <i class="fas fa-home"></i>
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Home">Home</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/CarPortal/">
                                        <div class = "icon">
                                            <i class="fas fa-car"></i>
                                            <i class="fas fa-car"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Car Information">Car Information</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/ProfilePortal/">
                                        <div class = "icon">
                                            <i class="fas fa-user-circle"></i>
                                            <i class="fas fa-user-circle"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Customer Profile">Customer Profile</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/Reporting/">
                                        <div class = "icon">
                                            <i class="fas fa-file-invoice"></i>
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Reporting">Reporting</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/Search/">
                                        <div class = "icon">
                                            <i class="fas fa-list"></i>
                                            <i class="fas fa-list"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Search Results">Search Results</span></div>
                                    </a>
                                </li>
								<form class = "search" action="/Search/">
									<input id = "SearchField" type = "text" name="SearchField" class = "input" placeholder = "Type Search here">
									<input type = "button" value = "Search" class = "close-btn">
								</form>
                            </ol>
                        </nav>
                    </div>
                </div>
				{% else %}
				    <div class = "container">
					<div id = "sidebar">
						<nav>
							<ol>
								<li>
									<a href = "">
										<div class = "icon">
											<i class="fas fa-home"></i>
											<i class="fas fa-home"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Home">Home</span></div>
									</a>
								</li>
								<li>
								{% if Session == True %}
									<a href = "/Profile/{{userid}}">
										<div class = "icon">
											<i class="fas fa-user-circle"></i>
											<i class="fas fa-user-circle"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Customer Profile">Customer Profile</span></div>
									</a>
								{% else %}
									<a href = "/Login_Form/">
										<div class = "icon">
											<i class="fas fa-user-circle"></i>
											<i class="fas fa-user-circle"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Customer Profile">Customer Profile</span></div>
									</a>
								{% endif %}
								</li>
								<li>
									<a href = "/Search/">
										<div class = "icon">
											<i class="fas fa-list"></i>
											<i class="fas fa-list"></i>
										</div>
										<div class = "name"><span class ="navname" data-text = "Search Results">Search Results</span></div>
									</a>
								</li>
								<form class = "search" action="/Search/">
									<input type = "text" name="SearchField" class = "input" placeholder = "Type Search here">
									<input type = "button" value = "Search" class = "close-btn">
								</form>
							</ol>
						</nav>
					</div>
				</div>
				{% endif %}
    <div class="CarContainer">
	<div style="display:inline-block; vertical-align:top; margin-left:10%; margin-top: 40px;margin-right:15%;">
		<div id="datePU" style="display:inline-block; margin-right:3em;">
            <form style="margin-top: -20px;"action="./Rent/" method="POST">
			{% csrf_token %}
                <label><h2>Pick-Up</h2></label><br>
                <input class="select" name="pickupdate" min="{{Min}}" type="date"/><br><br>

                <select class="select">
                  <option value="Time">Time</option>
                  <option value="Morning">Morning</option>
                  <option value="Afternoon">Afternoon</option>
                  <option value="Evening">Evening</option>
                </select><br><br>

				<label>Location: {{Location}}</label>
        </div>

        <div id="dateR" style="display:inline-block;">

                <h2>Return</h2><br>
                <input class="select" name="returndate" min="{{Min}}" type="date"/><br><br>

                <select class="select">
                  <option value="Time">Time</option>
                  <option value="Morning">Morning</option>
                  <option value="Afternoon">Afternoon</option>
                  <option value="Evening">Evening</option>
                </select><br><br>

                <select name="endlocation" class="select">
                <option value="0">Location...</option>
                <option value="1">Airport</option>
                <option value="2">Southbank</option>
                <option value="3">George Street</option>
                <option value="4">West End</option>
                <option value="5">Gold Coast</option>
                <option value="6">Springwood</option>
              </select>


        </div>
        <div id = "total">
            <label><b>AUD ${{Price}} per day</b></label>
        </div>

        <div id="buttons" style="height:10px;">
            <button class="button" style="margin-left: 0;width: 100%;">Reserve</button>
        </div>
		 </form>
	</div>

	<div style="display:inline-block; vertical-align:top; margin-bottom: 5px">
		<div id = "image" >
			<img src = "..\..\static\images\Brands\{{carmake}}.png" alt="2019-audi-a7" width="350" height="250">
        </div>

        <div class="carInfo">
          {{carmake}} -
        </div>
        <div class="carInfo">
          {{Model}} -
        </div>
        <div class="carInfo">
          {{Year}} -
        </div>
        <div class="carInfo">
          {{Fuelsystem}}
        </div>

	    <div id="car_features" style="margin-top: 100px;">
            <h5><u>Features:</u></h5>
            <ul>
                <li>{{Transmission}}</li>
                <li>Air Conditioning</li>
                <li>{{Seating}} Passengers</li>
                <li>Dual Airbag</li>
                <li>Satellite Navigation</li>
                <li>ABS</li>
                <li>5.3L/100km</li>
                <li>{{Carpower}}</li>
            </ul>
        </div>
	</div>

    </div>
    <div class = "footer">
        <h3>© Copyright IFB299 Group 4 Car Rental Project 2018 Semester 2</h3>
    </div>

</body>
</html>

{% if Check == True %}
<script>
$(BadLogin());
</script>
{% endif %}
