<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFB299 Group 4 Car Rental App</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'reportingStyle.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'adminHeader.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700i,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="{% static 'Chart.bundle.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{% static 'adminHeader.js' %}"></script>
</head>
<body>
    <div class = "header">
		<div style="float:right; vertical-align:center; margin-right:3em; margin-top:0.5em;"><b>{{name}}</b></div>
        <button style = "style:inline-block;"class = "signupbtn"><a href="/Logout/"><i class="fas fa-sign-in-alt"></i>    Logout</a></button>
        <h1 class = "compname"><span class = "logotitle">C</span>ar <span class = "logotitle">R</span>ental <span class = "logotitle">C</span>ompany</h1>
        <div class = "arrow"></div>
    </div>
				<div class = "container">
                    <div id = "sidebar">
                        <nav>
                            <ol>
                                <li>
                                    <a href = "../../../">
                                        <div class = "icon">
                                            <i class="fas fa-home"></i>
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Home">Home</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/CarPortal/">
                                        <div class = "icon">
                                            <i class="fas fa-car"></i>
                                            <i class="fas fa-car"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Car Information">Car Information</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/ProfilePortal/">
                                        <div class = "icon">
                                            <i class="fas fa-user-circle"></i>
                                            <i class="fas fa-user-circle"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Customer Profile">Customer Profile</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/Reporting/">
                                        <div class = "icon">
                                            <i class="fas fa-file-invoice"></i>
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Reporting">Reporting</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href = "/Search/">
                                        <div class = "icon">
                                            <i class="fas fa-list"></i>
                                            <i class="fas fa-list"></i>
                                        </div>
                                        <div class = "name"><span class ="navname" data-text = "Search Results">Search Results</span></div>
                                    </a>
                                </li>
								<form class = "search" action="/Search/">
									<input id = "SearchField" type = "text" name="SearchField" class = "input" placeholder = "Type Search here">
									<input type = "button" value = "Search" class = "close-btn">
								</form>
                            </ol>
                        </nav>
                    </div>
                </div>

    <div align="center">
		<form action="./Redirect/">
          <select name="Month">
              <option value="-">MONTH</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
          </select>

          <select name="Year">
              <option value="-">YEAR</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
          </select>

            <input type="submit" value="Submit" class = "weekbtn">
            <br>
		 </form>
   </div>


     <div align="center"style="margin-top:0.5em;">
           {% if prevWeek == 0 %}
              <input type = "button" value = "Earliest" class = "greybtn">
           {% else %}
              <a href="../{{prevWeek}}">
                <input type = "button" value = "Week {{prevWeek}}" class = "weekbtn">
              </a>
             {% endif %}
             Current: Week {{weekNum}}

           {% if nextWeek == 5 %}
              <input type = "button" value = "Latest" class = "greybtn">
           {% else %}
             <a href="../{{nextWeek}}">
               <input type = "button" value = "Week {{nextWeek}}" class = "weekbtn">
             </a>
             {% endif %}
       </div>


    <div class="GraphContainer" style="margin-bottom:3%;">
        <div class="row">
        <div class="GraphWrapper">
        <div class="column1" style="height:400px">

            <div id = "heading">
                <h3>Weekly Rentals</h3>
             </div>
			<canvas id="Weekly" style="height:100%"></canvas>
			<script>
			var ctx = document.getElementById("Weekly");
			var myLineChart = new Chart(ctx, {
			type: 'line',
			data: {
        labels: ["Monday", "Tuesday", "Wednesday", "thursday", "friday", "Saturday", "Sunday"],
        datasets: [{
            label: 'Number of rentals',
            data: [{{day1}}, {{day2}}, {{day3}}, {{day4}}, {{day5}}, {{day6}}, {{day7}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
			</script>


        </div>
        <div class="column1" style="height:400px;">
            <div id = "heading"">
                <h3>Monthly Rentals</h3>
             </div>
            			<canvas id="Monthly" style="height:100%"></canvas>
			<script>
			var ctx = document.getElementById("Monthly");
			var myLineChart = new Chart(ctx, {
			type: 'line',
			data: {
        labels: ["First Week", "Second Week", "Third Week", "Fourth Week"],
        datasets: [{
            label: 'Number of rentals',
            data: [{{week1total}}, {{week2total}}, {{week3total}}, {{week4total}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
			</script>

        </div>
    </div>
    </div>
    <div class="row">
        <div class="column2" style="height:400px;">
            <div id = "heading">
               <h3>Current Rentals</h3>
            </div>

         <table id="Rented" style="width:100%">
            <tr>
                <th>VehicleID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Rented By</th>
                <th>Rent Date</th>
            </tr>
			{% for vehicle, person, order in together%}
			<tr>
				<td><a href='../../Car_Report/{{vehicle.carid}}' style="color: inherit;">{{vehicle.carid}}</a></td>
				<td>{{vehicle.carmake}}</td>
				<td>{{vehicle.model}}</td>
				<td><a href='../../Profile/{{person.userid}}' style="color: inherit;">{{person.name}}</a></td>
				<td>{{order.pickupdate}}</td>
			</tr>
			{% endfor %}

        </table>
        </div>
    </div>
	</div>


    <div class = "footer">
        <h3>© Copyright IFB299 Group 4 Car Rental Project 2018 Semester 2</h3>
    </div>

</body>
</html>
